
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
html, body { height: 100%; }
body { @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50; }
.prose code { @apply rounded px-1 py-0.5 bg-gray-100 dark:bg-gray-800; }
